@model IEnumerable<MyPortfolio.Models.ProjectMade>

@{
    ViewData["Title"] = "UserIndex";

}

<br />
<br />
<div class="row">
    @foreach (var item in Model)
    {
        @*<label style="font-size: 20px;color: #a51313"><b>Price : @item.ProjectMadeId</b></label>*@
        <div class="col-4">
            <div class="card mb-4" style="background-color: black;">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size: 20px;color: white"><b>@item.ProjectMadeName</b></label>
                    </h4>
                </div>
                <img src="~/lib/backend.jpg" alt="Card Image" class="card-img-top" style="height: 300px;"/>
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        @*<p class="my-0 font-weight-normal">
                            <label style="font-size: 20px;color: white"><b>@item.ProjectMadeDescription</b></label>
                        </p>*@
                        @*<div class="btn-group">
                            <label style="font-size: 20px;color: #a51313"><b>@item.DatabaseTechnologyId</b></label>
                        </div>
                        <div class="btn-group">
                            <label style="font-size: 20px;color: #a51313"><b>@item.BackEndTechnologyId</b></label>
                        </div>*@
                        <a asp-action="Details" asp-controller="ProjectMades" asp-route-id="@item.ProjectMadeId" style="text-black;" class="btn btn-light">Check</a>
                    </div>
                </div>
            </div>
        </div>
            
    }
</div>
