@model MyPortfolio.Models.ProjectMade

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProjectMade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectMadeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectMadeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectMadeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectMadeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackEndTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackEndTechnology.BackEndTechnologyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontEndTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontEndTechnology.FrontEndTechnologyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherTechnology.OtherTechnologyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatabaseTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatabaseTechnology.DatabaseTechnologyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectMadeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
