@model MyPortfolio.Models.ProjectMade

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectMadeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectMadeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectMadeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectMadeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackEndTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackEndTechnology.BackEndTechnologyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontEndTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontEndTechnology.FrontEndName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherTechnology.OtherTechnologyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatabaseTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatabaseTechnology.DatabaseTechnologyName)
        </dd>
    </dl>
</div>
<hr />
<div>
    <div class="col-35 btn-group">
                    <div class="col-6 form group text-left p-1">
                        <a asp-action="UserIndex" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
                    </div>
                </div>
</div>
