@model MyPortfolio.Models.Collaborators

@{
    ViewData["Title"] = "Details";

}


<div>
     <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollaboratorFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollaboratorFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollaboratorDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollaboratorDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackEndTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackEndTechnology.BackEndTechnologyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontEndTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontEndTechnology.FrontEndName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherTechnology.OtherTechnologyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatabaseTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatabaseTechnology.DatabaseTechnologyName)
        </dd>
    </dl>
</div>
<div>
    <div class="col-35 btn-group">
        <div class="col-6 form group text-left p-1">
            <a asp-action="CollaboratoresIndex" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
        </div>
    </div>
</div>