@model IEnumerable<MyPortfolio.Models.Collaborators>

@{
    ViewData["Title"] = "Index";
    int intCount = 0;

}

<br />

<h1>List with My Collaborators</h1>
<br />
<br />

<div>
  <a asp-action="Create" asp-controller="Collaborators" style="border: 1px solid black" class="btn btn-info form-control text-white" class="btn btn-info form-control text-white">
     <b>Add New Collaborator Member</b>
  </a>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollaboratorFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollaboratorDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackEndTechnology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrontEndTechnology)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.OtherTechnology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatabaseTechnology)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            intCount = intCount + 1;
            <tr>
            <td>
                @intCount
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollaboratorFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollaboratorDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackEndTechnology.BackEndTechnologyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontEndTechnology.FrontEndName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.OtherTechnology.OtherTechnologyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatabaseTechnology.DatabaseTechnologyName)
            </td>*@
            <td>
                <a asp-action="Edit" class="btn btn-success" style="border: 1px solid black; width: 45px;" asp-route-id="@item.CollaboratorId">
                    <i class="far fa-edit"></i>
                </a> |
                <a asp-action="Details" class="btn btn-info" style="border: 1px solid black; width: 45px;" asp-route-id="@item.CollaboratorId">
                    <i class="fas fa-list-ul"></i>
                </a> |
                <a asp-action="Delete" class="btn btn-danger" style="border: 1px solid black; width: 45px;" asp-route-id="@item.CollaboratorId">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Styles{
    <link rel="stylesheet" href="~/css/back.css" />
}