@model MyPortfolio.Models.PersonalUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PersonalUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthplace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthplace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GitLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GitLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonalUserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
