@model IEnumerable<MyPortfolio.Models.PersonalUser>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthplace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GitLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthplace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonalUserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonalUserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonalUserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
