@model IEnumerable<MyPortfolio.Models.DatabaseTechnology>

@{
    ViewData["Title"] = "Index";
    int intCount = 0;
}

<br />

<h1>List with Technologis</h1>
<br />
<br />

<div>
  <a asp-action="Create" asp-controller="DatabaseTechnologies" class="btn btn-info form-control text-white">
     Add New Database Technology
  </a>
</div>

<br />


<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DatabaseTechnologyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            intCount = intCount + 1;
            <tr>
                <td>
                    @intCount
                </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.DatabaseTechnologyName)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success" style="border: 1px solid black; width: 45px;" asp-route-id="@item.DatabaseTechnologyId">
                    <i class="far fa-edit"></i>
                </a> |
                <a asp-action="Details" class="btn btn-info" style="border: 1px solid black; width: 45px;" asp-route-id="@item.DatabaseTechnologyId">
                    <i class="fas fa-list-ul"></i>
                </a> |
                <a asp-action="Delete" class="btn btn-danger" style="border: 1px solid black; width: 45px;" asp-route-id="@item.DatabaseTechnologyId">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
