@model IEnumerable<MyPortfolio.Models.Contact>

@{
    ViewData["Title"] = "Index";
    int intCount = 0;

}
<br />
<br />
<h2 style="text-align:center"><b>Contact Tabel</b></h2>
<hr />
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ContactFullName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ContactSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Message)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            intCount = intCount + 1;
            <tr>
            <td>
                @intCount 
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => item.ContactFullName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ContactSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>*@
            <td>
                <a asp-action="Edit" class="btn btn-success" style="border: 1px solid black; width: 45px;" asp-route-id="@item.ContactId">
                    <i class="far fa-edit"></i>
                </a> |
                <a asp-action="Details" class="btn btn-info" style="border: 1px solid black; width: 45px;" asp-route-id="@item.ContactId">
                    <i class="fas fa-list-ul"></i>
                </a> |
                <a asp-action="Delete" class="btn btn-danger" style="border: 1px solid black; width: 45px;" asp-route-id="@item.ContactId">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
