@model MyPortfolio.Models.Rate

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>Rate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectMade.ProjectMadeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
