@model IEnumerable<MyPortfolio.Models.Rate>

@{
    ViewData["Title"] = "Index";
    int intCount = 0;

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            intCount = intCount + 1; 
            <tr>
            <td>
                @intCount
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectMade.ProjectMadeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentRate)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success" style="border: 1px solid black; width: 45px;" asp-route-id="@item.RateId">
                    <i class="far fa-edit"></i>
                </a> |
                <a asp-action="Details" class="btn btn-info" style="border: 1px solid black; width: 45px;" asp-route-id="@item.RateId">
                    <i class="fas fa-list-ul"></i>
                </a> |
                <a asp-action="Delete" class="btn btn-danger" style="border: 1px solid black; width: 45px;" asp-route-id="@item.RateId">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
